.sqltable table {
	font-family: Arial;
	border-collapse: collapse;
	width: 100%;
}

.sqltable table, th, td {
	border: 1px solid #000807;
	padding: 8px;
}

.sqltable tr:nth-child(odd){
    background-color: #b3b7ee;
}

.sqltable tr:nth-child(even){
	background-color: #fbf9ff;
}

.sqltable th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #464646;
	color: white;
}

.sqltable tr:hover {
	background-color: #9395d3;
}
